@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat:400,700');

body {
    max-width: 40rem;
    margin: auto;
    padding: 0 1rem;
}

h1,
h2 {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
    font-weight: 700;
}

p {
    font-family: 'Merriweather', serif;
    line-height: 1.6;
}

header {
    background: rgb(77, 58, 226);
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

header a {
    color: white;
    padding: 0 0.5rem;
    line-height: 1.75;
}

header a:visited {
    color: white;
}

header ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

header li {
    float: left;
}

header ul li:first-child {
    display: none;
}

a {
    color: rgb(77, 58, 226);
}

a:visited {
    color: rgb(77, 58, 226);
}

li .date {
    font-size: 1em;
}

.date {
    margin-top: -1rem;
    color: gray;
    font-size: 0.85em;
}

footer {
    padding: 2rem 0;
}

footer hr {
    margin-bottom: 2rem;
}
